# Classwork Lecture 4

In this exercise, you'll get familiar with the following basics of python:

- String Functions
- If Else Statements
- For Loops

## Student Details

- Name:
- Division: 
- Roll:

# String Functions

Python has a set of built-in methods that you can use on strings. Please complete the following short exercise to learn more about the different string functions. 

[See Reference Library of String Functions](https://www.w3schools.com/python/python_ref_string.asp)

## Part 1

In [1]:
# Name
student_name = "Jay"

#Empty String
empty_string = ""

#String with numeric values in it
numeric_string = "abc123"

In [2]:
# Q1 A Create and print a variable called "my_name"that stores your name in all lower case
my_name = "aman"

In [3]:
# Q1 B Capitalize the first letter of "my_name" and then print it
my_name = my_name.capitalize()
my_name

'Aman'

In [4]:
# Q1 C Capitalize all letters of "my_name" and then print it

In [5]:
my_name = my_name.upper()
my_name

'AMAN'

## Part 2

In [6]:
# Q2 A Create and print a variable called "my_favorite_fruit" 
# and make it store "I love apples, apples are my favorite fruit"
my_favorite_fruit = "I love apples, apples are my favorite fruit"

In [7]:
# Q2 B Print whether "my_favorite_fruit" ends with "fruit" 
my_favorite_fruit.endswith("fruit")

True

In [8]:
# Q2 C Count and print the number of times the value "apple" appears in the string
apple_count = my_favorite_fruit.count("app")
apple_count

2

In [9]:
# Q2 D Replace "apple" with "banana" in "my_favorite_fruit"
my_favorite_fruit = my_favorite_fruit.replace("apple", "banana")
my_favorite_fruit

'I love bananas, bananas are my favorite fruit'

In [10]:
# Q2 E Convert the first character of each word in "my_favorite_fruit" to upper case
my_favorite_fruit = my_favorite_fruit.title()
my_favorite_fruit

'I Love Bananas, Bananas Are My Favorite Fruit'

In [11]:
# Q2 F Split "my_favorite_fruit" on "," and print the result

my_favorite_fruit = my_favorite_fruit.rsplit(",")
my_favorite_fruit

['I Love Bananas', ' Bananas Are My Favorite Fruit']

# If Else Statements

[See Reference](https://info370a-w19.github.io/python-basics/logic-and-conditionals.html)

In [27]:
#Mother Older 
def is_mother_older(mother_age, father_age):
    
    if mother_age>father_age:
        print("Mother is Older than Father")
    
    else:
        print("Mother is not Older than Father")

In [29]:
is_mother_older(43,51)

Mother is not Older than Father

In [41]:
#Pass Fail 
def is_student_passed(student_marks):
    if student_marks>35:
        print("Pass")
    elif student_marks == 35:
        print("Just Passed")
    else:
        print("Failed")

In [44]:
is_student_passed(36)

Pass

# Create a function that accepts the current temperature and returns "is hot" if the temperature is greater than 24 and returns "is not hot" if the temperature is equal to or below 24

In [49]:
def is_it_hot(temperature):
    if temperature>24:
        return "is hot"
    else:
        return "is not hot"

In [52]:
is_it_hot(23)

'is not hot'

# Grades

- A Grade: 90 and above
- B Grade: 70 and 89
- C Grade: 50 and 69
- D Grade: 35 and 49
- F Grade: Anything below 35

In [57]:
def grade(marks):
    if marks>=90:
        return "A"
    elif marks>=70 and marks<=89:
        return "B"
    elif marks>=50 and marks<=69:
        return "C"
    elif marks>=35 and marks<=49:
        return "D"
    else:
        return "F"

In [58]:
grade(72)

'B'

In [59]:
grade(90)

'A'

In [60]:
grade(51)

'C'

In [61]:
grade(36)

'D'

In [62]:
grade(20)

'F'

In [14]:
# Create a function called "goldilocks" that accepts a numeric temperature value 
# and returns "This porridge is too hot!" if the temperature value is >= 80
# and returns "This porridge is just right" if the temperature value is between 40 and 79
# and returns "This porridge is too cold" if the temperature value is below 40

# For Loops

In [63]:
# Create a list of your favorite movies
movies = ["spiderman", "avengers", "thor","ironman"]
movies

['spiderman', 'avengers', 'thor', 'ironman']

In [64]:
# Create a for loop that prints each of your favorite movies with the text "I love "
for movie in movies:
    print("I love", movie)

I love spiderman
I love avengers
I love thor
I love ironman

In [17]:
# Create a list of your favorite cars and favorite colors

In [65]:
cars = ["mustang", "ferrari", "lamborghini", "royce"]
colors = ["red", "yellow", "blue", "green"]

In [70]:
# Create a nested for loop that prints your favorite car names for each favorite color
for color in colors:
    for car in cars:
        print(color, car)

red mustang
red ferrari
red lamborghini
red royce
yellow mustang
yellow ferrari
yellow lamborghini
yellow royce
blue mustang
blue ferrari
blue lamborghini
blue royce
green mustang
green ferrari
green lamborghini
green royce

# Create a function that accepts a list of colors and a list of cars  and then returns the following

- "Yes it exists" if the car combination "Speed Red Mazda" is possible
- "Does not exist" if not possible

In [73]:
def exists(car, colors):
    for color in colors:
        if color =="speed red":
            for car in cars:
                if car == "Mazda":
                    return "it exists"
                
    return "Does not exist"

In [74]:
car_list_1 = ["ferrari", "ford"]
color_list_1 = ["Metallic Blue", "speed red"]
exists(car_list_1, color_list_1)

'Does not exist'

In [75]:
car_list_2 = ["Honda", "Mazda"]
color_list_2 = ["steel grey", "speed red"]
exists(car_list_2, color_list_2)

'Does not exist'